/*General*/

body,html{
	height: 100%;
}

#site-wrapper{
	min-height: 100%;
	position: relative;
}

header{
	padding: 10px 0px 10px 5%;
	border-bottom: 2px;
}

#subheader{
	height: 20px;
	border-width: 1px 0 1px 0;
	border-style: solid;
}

#ql-logo{
	background-image: url(../images/Questline-logo.png);
	background-repeat: no-repeat;
	background-size:300px 47px;
	width: 300px;
	height: 47px;
}

#main{
	max-width: 1300px;
	width: 80%;
	min-width: 960px;
	margin:0 auto 0 auto;
	padding-bottom: 200px;
}

footer{
	bottom: 0px;
	left: 0px;
	height: 200px;
	position: absolute;
	width: 100%;
	border-width: 4px 0 0 0;
	border-style: solid;
}

.clear{
	clear:both;
}

/*Fonts*/

@font-face{
	font-family: display;
	src: url(../fonts/Chunkfive.otf);
}

@font-face{
	font-family: body;
	src: url(../fonts/Aller.ttf);
}

/*Colors*/
.ql-blue{
	border-color:#006F75;
	background-color:#05A8AC;
}

.ql-purple{
	background-color: #af64b8;
}

.ql-red{
	background-color: #c54b66
}

.ql-green{
	background-color: #7abc08;
}

.ql-grey{
	border-color:#222222;
	background-color:#2D3D3D;
}

.ql-base-beige{
	background-color:#D6C2AB;
}

.ql-content-beige{
	border-color:#a18c65;
	background-color:#E0D5C1;
}

.ql-light-beige{
	border-color:#664E27;
	background-color: #EEE7DB;
}

.ql-dark-beige{
	background-color:#252B29;
}

/*Recent user box*/
#recent-questers{
	height: 200px;
	padding: 10px;
	margin-bottom: 25px;
}

.user-box{
	margin-right:10px;
	width: 175px;
	height: 80px;
	float:left;
}

/*Popular window*/
#popular{
	margin:20px 0 0 0;
	border-width: 1px;
	border-style: solid;
	width: 100%;
	float:left;
	padding-bottom: 20px;
}

.popular-tab{
	cursor: pointer;
	font-family: display;
	font-size: 1.4em;
	display: inline-block;
	text-align: center;
	width: 50%;
	height: 40px;
	line-height: 40px;
}

.popular-tab.active{
	background-color:#E0D5C1;
	color:#002827;
}

.popular-tab.inactive{
	background-color: #05A8AC;
	color:#EEE7DB;
}

.popular-window{
	padding: 10px;
}

/*Goal box*/

.goal-box{
	cursor: pointer;
	float:left;
	width: 300px;
	height: 120px;
	margin:5px;
	border-width:1px;
	border-style: solid;
}

.goal-box:hover{
	background-color: #f7f2ea
}

.goal-icon{
	float:left;
	height:100%;
	width: 120px;
}

.goal-icon-img{
	margin: 10px;
	width: 100px;
	height: 100px;
}

.goal-info{
	font-family: body;
	float:left;
	width: 50%;
	padding: 5px;
}

.goal-title{
	font-family: display;
	color:#002827;
}

.goal-experience{
	color:#60513B;
}

.goal-description{
	font-size:0.8em;
}